{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Products
{% endblock %}
{% block content %}
  <div class="row p-4">
    <div class="col-12 mb-4 text-start">
      <a class="btn btn-outline-dark btn-sm" href="{% url 'list_product' %}">Regresar</a>
    </div>
    <div class="col-12 col-lg-7">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">Crear producto</div>
        <div class="card-body">
          <div class="row">
            <form action="{% url 'add_product' %}" method="POST">
              {% csrf_token %}
              <div class="col-12">{{ form|crispy }}</div>
              <div class="col-12 text-end">
                <button class="btn btn-outline-dark btn-sm" type="submit">Crear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
